/*Estilos de mi pagina web */

body
{
	padding: 0px;
	font-family: arial;
	position: relative;

}

.formulario_edicion
{
	width: 50%;
	float: left;
}
.formulario{
	width: 50%;
	float: left;
	
}
.formulario_edicion
{
	width: 50%;
	float: left;

}
.lista_formulario{
	width: 170%;
	float: left;
}

.tabla_formulario
{
	background: #BDBDBD;
	width: 100%;

}

.tabla_formulario td
{  padding:2%;
	background: white;

}

.tabla_formulario input
{   padding:2%;
	border:1px solid #BDBDBD;
	width: 95%;
	border-radius: 3px;

}

.btn-boton
{
	padding: 3%;
	border:none;
	background: #00BFFF;
	color:white;
	font-weight: bold;
}

.btn_editar
{
	padding: 3%;
	border:none;
	background: #04B486;
	color:white;
	font-weight: bold;
	width: 100%;
	margin-bottom: 3px;
}
.btn_eliminar
{
	padding: 3%;
	border:none;
	background: #FA5858;
	color:white;
	font-weight: bold;
	width: 100%;
	margin-bottom: 3px;
}
.contenedor
{
	width: 100%;
	padding: 0%;
	margin: 0px;
}

.panel_izq
{   background: #154360;
	float: left;
	width: 20%;
	color: white;
}

.panel_cent
{   background: white;
	float: left;
	width: 60%;
	color:  #717d7e;
}

.panel_der
{   background: #154360;
	float: left;
	width: 20%;
	color:white;
}
.panel{
	padding: 2%;
}

/* Estilos de mi pie de pagina */

.pie{
	width: 100%;
	color: white;
}

.panel_pie
{
   background: orange;
   float: left;
   width: 33.33%;
   padding: 0px;
   margin: 0px;
}
.cont_pie
{
	padding: 5%;
	background:  #d35400;
}

.cont_pie h1
{
	text-align: center;
}
.copy{
	width: 100%;
	padding: 0%;
	color: orange;
	padding-top: 1%;
	float: left;
}

/* Estilos de menu */

.cabeza
{
   width: 100%;
   height: 50px;
   background: #1a5276;
}
.menu
{   width: 100%;
	margin:0px;
	padding: 0px;
	background: #1a5276;
	
	margin-top: 0px;
}

.submenu{
	list-style: none;
	padding: 1%;
	float: left;
	background: #2874a6;
	text-align: center;
	transition: 0.5s;
	margin-right: 1px;
}

.link{
	text-decoration: none;
	color:white;

}

.submenu:hover{
	
	background: #1a5276;
	font-weight: bold;
	transition: 0.5s;
	font-size: 18px;
}


